.monitorRowPhoneColumnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.monitorRowPhoneColumnContainerChild {
    width: calc(50% - clamp(15px, 4vw, 26px));
}

.image {
    width: clamp(300px, 35vw, 600px);
}

@media (max-width: 1200px) {
    .monitorRowPhoneColumnContainer {
        flex-flow: column !important;
        align-items: center !important;
    }

    .monitorRowPhoneColumnContainerChild {
        width: clamp(300px, 60vw, 590px);
    }
}