.cards {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.contactButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1200px) {

    .cards {
        flex-flow: column;
        align-items: center;
        width: 90%;
    }

    .contactButton {
        width: 90%;
    }
}

.pantryLogo {
    font-family: copperplate !important;
    font-size: clamp(24px, 5vw, 50px) !important;
    background-image: linear-gradient(#ecc9a6 40%,
            #d3b08d 45%,
            #95724f 55%,
            #aa9580 60%,
            #cc9966 100%) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border: none !important;
}

.thisAppLogo {
    font-size: clamp(18px, 5vw, 50px) !important;
    letter-spacing: -1px !important;
    word-spacing: clamp(-20px, -1vw, -4px) !important;
    line-height: 1 !important;
    font-family: Menlo !important;
}

@font-face {
    font-family: 'asteroids';
    src: url('./fonts/Technology-Bol.ttf');
}