.educationAndSkills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(10px, 2vw, 20px);
}

.educationAndSkillsChild {
    width: calc(50% - clamp(10px, 2vw, 20px));
    height: auto;
    align-self: stretch;
    margin: 0;
}

.welcome {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.welcomeMessage {
    margin-top: 10%;
    width: calc(100% - clamp(10px, 2vw, 20px));
}

.welcomeImage {
    align-items: flex-end;
}

/* Phone Screen Styles */
@media (max-width: 600px) {

    .educationAndSkills {
        flex-flow: column;
        align-items: center;
        margin: 0;
    }

    .educationAndSkillsChild {
        width: clamp(310px, 60vw, 590px);
        height: auto;
        margin-top: clamp(10px, 2vw, 20px);
        margin-bottom: clamp(10px, 2vw, 20px);
        align-self: center;
    }

    .welcome {
        flex-flow: column;
        align-items: center;
        margin: 0;
    }

    .welcomeMessage {
        margin-top: 0;
    }

    .welcomeImage {
        align-items: center;
    }

}